* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    background: #1e2022;
    color: #C7C7C7;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Staatliches', cursive;
    font-weight: 300;
}

a {
    text-decoration: none;
    text-emphasis: none;
    color: #C7C7C7;
}

header {
    text-align: right;
    display: flex;
    margin: 100px 200px 80px;
    justify-content: flex-end;
    align-items: center;
}

header img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-left: 70px;
    filter: brightness(80%) contrast(120%);
    box-shadow: 0 0 5px white, 0 0 10px black;
    animation: pulse 10s infinite;
}

header h1 {
    font-size: 3em;
}

#skills {
    height: 80px;
    width: 600px;
    background: linear-gradient(rgba(63, 130, 194, 0.25), rgba(19, 47, 73, 0.25));
    line-height: 80px;
    border-radius: 40px;
    padding-right: 20px;
    float: right;
    text-align: right;
    font-size: 42px;
    font-family: 'Raleway', sans-serif;
    color: #9ecbf5;
    border-left: #C7C7C7 5px solid;
}

footer {
    height: 100px;
    line-height: 22px;
    padding: 20px 20%;
}

.about {
    width: 800px;
    margin: 80px 200px;
    padding: 30px;
    background: rgba(41, 78, 112, 0.25);
    border-left: #C7C7C7 8px solid;
    border-radius: 30px;
}

.about-buttons {
    display: flex;
}

.about-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
    width: 200px;
    background: #294e70;
    color: #e2e2e2;
    font-size: 1.2em;
    border-radius: 80px;
    transition: all 0.25s linear;
}

.about-button:hover {
    transform: translateY(-5px);
    background: #a7ccec;
    color: #1e2022;
    text-shadow: unset;
    box-shadow: 0 5px 5px #c7c7c7;
}

.about-button img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.contact-button {
    margin: 50px auto;
    width: 230px;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    background: #294e70;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease;
}

.contact-button:hover {
    background: #9ecbf5;
    color: #1e2022;
    box-shadow: 0 0 10px #C7C7C7;
}

.contact {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    font-size: 1.3em;
    z-index: 3;
    background: #C7C7C7;
    color: #1e2022;
    border: 70px solid #C7C7C7;
    border-radius: 20px;
    opacity: 1;
    pointer-events: auto;
    transition: 0.25s linear;
}

.click-outside {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact a {
    color: #294e70;
    margin: 10px;
    font-weight: bold;
}

.close-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #272727;
    position: absolute;
    top: -50px;
    right: -40px;
    cursor: pointer;
    transition: 0.2s linear;
}

.close-button:hover {
    background: #272727;
}

.close-button:hover :first-child {
    background: #C7C7C7;
}

.close-button:hover :last-child {
    background: #C7C7C7;
}

.cross1, .cross2 {
    width: 100%;
    height: 2px;
    background: #272727;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: 0.2s linear;
}

.cross1 {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross2 {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.social-buttons {
    margin: 40px 0 0;
}

.social-buttons a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px;
}

.social-buttons img:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 5px #272727;
}

.social-buttons img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.25s linear;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(41, 78, 112, 0.25);
    border-left: 10px solid #C7C7C7;
    border-radius: 40px;
    padding: 50px 0 0;
    margin: 50px 0;
    overflow: hidden;
    height: 460px;
    transition: 0.5s ease-in-out;
}

.skewbox {
    position: relative;
    width: 550px;
    height: 350px;
    background: white;
    margin: 0 30px;
    transform: skewX(-10deg);
    box-shadow: #000 5px 5px 10px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.show-image img, .show-descriptor {
    position: absolute;
    transform: skewX(10deg);
}

.show-image img {
    width: 125%;
    height: auto;
    top: -10%;
    left: -10%;
    z-index: -1;
}

.show-title {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 100px;
    opacity: 1;
    cursor: default;
    color: white;
    text-shadow: #272727 -3px -3px, #272727 3px -3px, #272727 -3px 3px, #272727 3px 3px, #272727 0px -3px, #272727 0px 3px, #272727 -3px 0px, #272727 3px 0px;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.show-descriptor {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 110%;
    left: -10%;
    font-size: 36px;
    top: -10%;
    background: rgba(255, 255, 255, 0.75);
    padding: 60px 20% 0;
    color: #272727;
    transition: 0.5s ease-in-out;
    transform: translateX(-120%) skewX(10deg);
}

.link-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.link-buttons a {
    position: relative;
    width: 120px;
    height: 50px;
    overflow: hidden;
    margin: 20px;
    background: #294e70;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    transition: 0.2s ease-out;
}

.link-buttons a:hover {
    box-shadow: 0 0 10px #9ecbf5;
}

.skewbox:hover .show-title {
    opacity: 0;
    transform: translate(-15%, -50%);
}

.skewbox:hover .show-descriptor {
    transform: translateX(0%) skewX(10deg);
}

.portfolio-toggle-button {
    position: relative;
    margin: 50px auto;
    text-align: center;
    width: 230px;
    height: 42px;
    cursor: pointer;
}

.portfolio-toggle-button h2 {
    position: absolute;
    width: 230px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divider {
    width: 100%;
    height: 5px;
    background: #C7C7C7;
    border-radius: 100%;
    margin-top: 75px;
}

.portfolio-title {
    font-size: 3em;
    text-align: center;
    margin: 50px auto;
}

.portfolio-toggle-button:hover {
    text-shadow: 0 0 5px #294e70, 0 0 10px #294e70;
}


.to-top {
    margin-top: 80px;
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 100%;
    background: #C7C7C7;
    margin-bottom: 25px;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1e2022;
    width: 80px;
    height: 80px;
    border: 3px solid #C7C7C7;
    border-radius: 50%;
    transition: 0.35s ease;
}

.mask {
    position: absolute;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(255, 255, 255, 0) 51%, #1e2022 53%);
}

.arrow1, .arrow2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 5px;
    border-radius: 2px;
    background: #C7C7C7;
    transition: 0.35s ease;
}

.arrow1 {
    transform: translate(-73%, -380%) rotate(-60deg);
}

.arrow2 {
    transform: translate(-27%, -380%) rotate(60deg);
}

.circle:hover {
    background: #C7C7C7;
}

.circle:hover .arrow1, .circle:hover .arrow2 {
    background: #1e2022;
}



@keyframes pulse {
    0%, 20% {
        transform: scale(1);
        box-shadow: 0 0 3px white, 0 0 10px black;
    }
    57% {
        transform: scale(1.05);
        box-shadow: 0 0 3px white, 0 0 5px white, 0 0 8px white, 0 0 10px white;
    }
    58% {
        box-shadow: 0 0 5px white, 0 0 8px white, 0 0 12px white, 0 0 15px white;
    }
    59% {
        transform: scale(0.99);
        box-shadow: 0 0 15px white, 0 0 25px white, 0 0 35px white, 0 0 45px white;
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1);        
        box-shadow: 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white;
    }
    100% {
        transform: scale(1);
    }
}